*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    background-color: #000;
}
header{
    width: 100%;
    height: 700%;
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
nav{
    text-align: right;
    padding: 20px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: 300;
    margin-right: 10px;
}

img{
    display: block;
    margin:auto;
}

.img1{
    padding: 20px 5px;
    
}
h1 h2 h3 h4{
    color: #82E4ED;
}
section.textos-principal{
    display: flex;
    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-principal h1{
    color: #82E4ED;
    font-size: 50px;
    font-weight: 100;
}

.textos-principal h2{
    color: #82E4ED;
    font-size: 40px;
    font-weight: 100;
}

.textos-principal{
    background-color: #17202A ;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000%;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #82E4ED;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.nuestros-productos{
    background-color: #1C2833;
}

.galeria-product{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-product{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    height: 200px;
    position: relative;
    cursor: pointer;
    box-shadow:  0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-product > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    transform: scale(0);
    background: hsla(0, 0%, 26%, 0.603);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-product:hover .hover-galeria{
    transform: scale(1);
}

.descripcion-productos{
    background-color: #17202A;
}

.contenedor-productos{
    padding: 60px 0;
    width: 90%;
    max-width: 1000%;
    margin: auto;
    overflow: hidden;
}

.titulo-descripcion{
    color: #82E4ED;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.contenedor-descripcion{
    color: #fff;
}

footer{
    background: #000;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 90px;
    padding-top: 30px;
    border-bottom: 1px solid #fff;
}

.content-foo{
    text-align: center;
}

.content-foo a{
    color: white;
    text-decoration: none;
}

center{
    color: #fff;
}


.pie-pagina h2{
    color: white;
}



.pie-pagina .box figure{ 
    width: 600%;
    height: 600%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box{
    text-align: center;
}


.pie-pagina .box .red-social a{ 
    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color:#82E4ED;
    margin-right: 10px;
    background-color: #ccc;
    transition: all 300ms ease;
    
}
.pie-pagina .box .red-social a:hover{ 
    color: yellow;
}

.grupo-1{
    font-size: 15px;
    color: #82E4ED;
    text-align: center;
}


.neon{
    padding: 15px 30px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    display: block;

}
.neon:hover{
    background: #82E4ED;
    box-shadow: 0 0 10px #82E4ED, 0 0 40px #82E4ED, 0 0 80px #82E4ED;
    transition-delay: 1s;
    color: #000;
    

}
.neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent, #82E4ED );
}
.neon:hover #span1{
    left: 100%;
    transition: 1s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent, #82E4ED );
}
.neon:hover #span2{
    top: 100%;
    transition: 2s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent, #82E4ED );
}
.neon:hover #span4{
    bottom: 100%;
    transition: 2s;
    transition-delay: 0.75s;
}

.neon1{
    padding: 10px 0px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    display: inline-block;

}
.neon1:hover{
    background: #82E4ED;
    box-shadow: 0 0 10px #82E4ED, 0 0 40px #82E4ED, 0 0 80px #82E4ED;
    transition-delay: .2s;
    color: white;
    text-decoration: underline;

}
.neon1 span{
    position: absolute;
    display: block;
}
#span5{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent, #82E4ED );
}
.neon:hover #span5{
    left: 100%;
    transition: 1s;
}


#span6{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent, #82E4ED );
}
.neon:hover #span6{
    top: 100%;
    transition: 2s;
    transition-delay: 0.25s;
}
#span8{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent, #82E4ED );
}
.neon:hover #span8{
    bottom: 100%;
    transition: 2s;
    transition-delay: 0.75s;
}
.circle{
    margin-top: 10px;
    margin-left: 20px;
    height: 150px;
    width: 150px;
    background-color: #82E4ED;
    border-radius: 50%;
    opacity: .5;
    position: absolute;
    bottom: 0;
    box-shadow: #fff;
    animation: mover 20s alternate infinite;
}

@keyframes 
    mover{
        0%{
            transform: translate(0);
            background-color: #82E4ED;
        }
        25%{
            transform: translate(1100%);
            background-color: #2ef8a0;
        }
        50%{
            transform: translate(1200%, 1200%);
            background-color: #c501e2;
        }
        75%{
            transform: translate(0, 1200%);
            background-color: #ff0534;
        }
        
    }