*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

header{
    width: 100%;
    height: 700%;
    background-color: #000;
    background-size: cover;
    background-attachment: fixed;
    position: relative;   
}

nav{
    text-align: right;
    padding: 20px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: 300;
    margin-right: 10px;
}
header{
    width: 100%;
    height: 700%;
    background-color: #000;
    background-size: cover;
    background-attachment: fixed;
    position: relative;   
}
nav{
    text-align: right;
    padding: 20px;
    
}
a{
    color: white;
    text-decoration: none;
    font-weight: 300;
    margin-right: 10px;
}
section.textos-principal{
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.textos-principal h1{
    color: #82E4ED;
    font-size: 50px;
    font-weight: 100;
}

.textos-principal{
    background-color: #17202A ;
}

.producto{
    background-color: #17202A ;

}
section.textos-productos{
    color: #82E4ED;
    font-size: 40px;
    font-weight: 100;
    
}

.tabla{
    color: white;
    border: 0px;
    
}

.imagen{
    box-shadow:  0 0 8px 7px #82E4ED;
}

.nuestros-productos{
    background-color: #17202A ;
}

a.siguiente{
    color: #82E4ED;
    font-size: 20px;
    font-weight: 100;  
}
.titulo-tabla{
    font-size: 25px;
    text-shadow: #82E4ED 2px 1px;
}


footer{
    background: #000;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 90px;
    padding-top: 30px;
    border-bottom: 1px solid #fff;
}

.content-foo{
    text-align: center;
}

.content-foo a{
    color: white;
    text-decoration: none;
}

center{
    color: #fff;
}


.pie-pagina h2{
    color: white;
}



.pie-pagina .box figure{ 
    width: 600%;
    height: 600%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box{
    text-align: center;
}


.pie-pagina .box .red-social a{ 
    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color:#82E4ED;
    margin-right: 10px;
    background-color: #ccc;
    transition: all 300ms ease;
    
}
.pie-pagina .box .red-social a:hover{ 
    color: yellow;
}

.grupo-1{
    font-size: 15px;
    color: #82E4ED;
    text-align: center;
}


.neon{
    padding: 15px 30px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    display: block;

}
.neon:hover{
    background: #82E4ED;
    box-shadow: 0 0 10px #82E4ED, 0 0 40px #82E4ED, 0 0 80px #82E4ED;
    transition-delay: 1s;
    color: #000;
    

}
.neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent, #82E4ED );
}
.neon:hover #span1{
    left: 100%;
    transition: 1s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent, #82E4ED );
}
.neon:hover #span2{
    top: 100%;
    transition: 2s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent, #82E4ED );
}
.neon:hover #span4{
    bottom: 100%;
    transition: 2s;
    transition-delay: 0.75s;
}

.neon1{
    padding: 10px 0px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    display: inline-block;

}
.neon1:hover{
    background: #82E4ED;
    box-shadow: 0 0 10px #82E4ED, 0 0 40px #82E4ED, 0 0 80px #82E4ED;
    transition-delay: .2s;
    color: white;
    text-decoration: underline;

}
.neon1 span{
    position: absolute;
    display: block;
}
#span5{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent, #82E4ED );
}
.neon:hover #span5{
    left: 100%;
    transition: 1s;
}


#span6{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent, #82E4ED );
}
.neon:hover #span6{
    top: 100%;
    transition: 2s;
    transition-delay: 0.25s;
}
#span8{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent, #82E4ED );
}
.neon:hover #span8{
    bottom: 100%;
    transition: 2s;
    transition-delay: 0.75s;
}

.circle{
    margin-top: 10px;
    margin-left: 20px;
    height: 150px;
    width: 150px;
    background-color: #82E4ED;
    border-radius: 50%;
    opacity: .5;
    position: absolute;
    bottom: 0;
    box-shadow: #fff;
    animation: mover 20s alternate infinite;
}

@keyframes 
    mover{
        0%{
            transform: translate(-20%);
            background-color: #82E4ED;
        }
        25%{
            transform: translate(900%);
            background-color: #2ef8a0;
        }
        50%{
            transform: translate(1000%, 100%);
            background-color: #c501e2;
        }
        75%{
            transform: translate(0, 420%);
            background-color: #3a2327;
        }
        
    }
