*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
    display: flexbox;

}

main{
    background-color: rgb(31, 30, 30);
}


.part1{
    background-color: black;
    padding: 60px 0;
    width: 90%;
    max-width: 1000%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow:  0 0 5px 5px #82E4ED;
    
}

.part2{
    background-color: black;
    padding: 60px 0;
    width: 90%;
    max-width: 1000%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow:  0 5px 5px 5px #82E4ED;
    }

.img{
    
    margin-bottom: 10px;
    overflow: hidden;
    height: 500px;
    position: relative;
    cursor: pointer;
    width: 720px;
    box-shadow:  0 0 9px 7px #82E4ED;
    object-fit: cover;
    display: block;
}

.mapa{
    width: 720px;
    height: 300px;
    border:  0;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow:  0 0 5px 5px #82E4ED;
}

header{
    width: 100%;
    height: 700%;
    background-color: #000;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
        
    
}
nav{
    text-align: right;
    padding: 20px;
    
}


a{
    color: white;
    text-decoration: none;
    font-weight: 300;
    margin-right: 10px;
}
footer{
    background: #000;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 90px;
    padding-top: 30px;
    border-bottom: 1px solid #fff;
}
.content-foo{
    text-align: center;
}

.content-foo a{
    color: white;
    text-decoration: none;
}

center{
    color: #fff;
}


h1{
    color: black;
    font-size: 55px;
    font-weight: 100px;
    text-align: center;
    
}

h2{
    color: #82E4ED;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
}


h3{
    color: #82E4ED;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
}
h4{
    color: white;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}
p{
    color: white;
    font-size: 10px;
    font-weight: 100;
    text-align: center;
}



.pie-pagina h2{
    color: white;
}



.pie-pagina .box figure{ 
    width: 600%;
    height: 600%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box{
    text-align: center;
}


.pie-pagina .box .red-social a{ 
    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color:#82E4ED;
    margin-right: 10px;
    background-color: #ccc;
    transition: all 300ms ease;
    
}
.pie-pagina .box .red-social a:hover{ 
    color: yellow;
}

.grupo-1{
    font-size: 15px;
    color: #82E4ED;
    text-align: center;
}

.circle{
    margin-top: 10px;
    margin-left: 20px;
    height: 150px;
    width: 150px;
    background-color: #82E4ED;
    border-radius: 50%;
    opacity: .5;
    position: absolute;
    bottom: 0;
    box-shadow: #fff;
    animation: mover 20s alternate infinite;
}

@keyframes 
    mover{
        0%{
            transform: translate(0);
            background-color: #82E4ED;
        }
        25%{
            transform: translate(1100%);
            background-color: #2ef8a0;
        }
        50%{
            transform: translate(1200%, 1200%);
            background-color: #c501e2;
        }
        75%{
            transform: translate(0, 1200%);
            background-color: #ff0534;
        }
        
    }

    .neon{
        padding: 15px 30px;
        text-decoration: none;
        overflow: hidden;
        transition: 0.2s;
        display: block;
    
    }
    .neon:hover{
        background: #82E4ED;
        box-shadow: 0 0 10px #82E4ED, 0 0 40px #82E4ED, 0 0 80px #82E4ED;
        transition-delay: 1s;
        color: #000;
        
    
    }
    .neon span{
        position: absolute;
        display: block;
    }
    #span1{
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg,transparent, #82E4ED );
    }
    .neon:hover #span1{
        left: 100%;
        transition: 1s;
    }
    #span2{
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg,transparent, #82E4ED );
    }
    .neon:hover #span2{
        top: 100%;
        transition: 2s;
        transition-delay: 0.25s;
    }
    #span4{
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg,transparent, #82E4ED );
    }
    .neon:hover #span4{
        bottom: 100%;
        transition: 2s;
        transition-delay: 0.75s;
    }
    
    .neon1{
        padding: 10px 0px;
        text-decoration: none;
        overflow: hidden;
        transition: 0.2s;
        display: inline-block;
    
    }
    .neon1:hover{
        background: #82E4ED;
        box-shadow: 0 0 10px #82E4ED, 0 0 40px #82E4ED, 0 0 80px #82E4ED;
        transition-delay: .2s;
        color: white;
        text-decoration: underline;
    
    }
    .neon1 span{
        position: absolute;
        display: block;
    }
    #span5{
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg,transparent, #82E4ED );
    }
    .neon:hover #span5{
        left: 100%;
        transition: 1s;
    }
    
    
    #span6{
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg,transparent, #82E4ED );
    }
    .neon:hover #span6{
        top: 100%;
        transition: 2s;
        transition-delay: 0.25s;
    }
    #span8{
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg,transparent, #82E4ED );
    }
    .neon:hover #span8{
        bottom: 100%;
        transition: 2s;
        transition-delay: 0.75s;
    }

    .sometxt {
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;      
    }
    
    .mydiv {
        position: relative;
        margin: 10% auto 0;
        width: 70%;
        height: 200px;
        background: linear-gradient(90deg, #000, #323232); 
        z-index: 0;
        border-radius: 5px;
        overflow: hidden;
        padding: 2rem;
    }

    .animate-bg:before, .animate-bg:after {
        content: '';
        position: absolute;
        left: -50px;
        top: -50px;
        background: linear-gradient(700deg, #79fb00, #8d01a0, #031ba5,#ff004c,  
        #e6036d, #fb0094,#ff6600, #04c2e4,#adad02, #00c3ff);
        background-size: 500%;
        width: calc(100% + 50px);
        height: calc(100% + 50px);
        z-index: -5;
        animation: BGgradient 15s ease infinite; 
        border-radius: 10px;
        overflow: hidden;
    }
    
    @keyframes BGgradient {
        0% {
            background-position: 0% 500%;
        }
        50% {
            background-position: 500% 0%;
        }
        100% {
            background-position: 0% 270%;
        }
    }
    
    .animate-bg:after {
        filter: brightness(1.4);
        filter: drop-shadow(16px 16px 20px rgb(248, 220, 97));
        filter: blur(15px);
    }